<div class="user">
  <div class="profile-image">
  </div>
  <div class="user-info">
    <p class="fs-5"><%= @user.Name %></p>
    <div class="num-posts">
      <p>Number of posts: <%= !@user.PostsCounter ? 0 : @user.PostsCounter %> </p>
    </div>
  </div>
</div>
<div class="bio">
  <p class="fs-4">Bio</p>
  <p><%= @user.Bio %></p>
</div>
<% @user.recent_posts.each_with_index do |post, index| %>
<div class="post">
  <p class="fs-5">Post <%= index + 1 %> </p>
  <p><%= post.Text %> </p>
</div>
<% end %>