<%= render 'users/user', user: @user%>
<div class="user">
<%= link_to 'New Post', new_user_post_path, class: 'btn btn-secondary' %>
</div>
<% @user.posts.each do |post| %>
<div class="post-with-comments">
  <%= link_to "Post #{post.id}", "/users/#{@user.id}/posts/#{post.id}", id: "post_#{post.id}", class: "fs-5" %>
  <p><%= post.text %> </p>
  <div class="likes-comments">
      <p>comments: <%= !post.commentsCounter ? 0 : post.commentsCounter %></p>
      <p>Likes: <%= !post.likesCounter ? 0 : post.likesCounter %></p>
  </div>
</div>
<div class="comments">
<h6>Comments:</h6>
<% post.recent_comments.each do |comment| %>
  <div class="comment">
    <p class="user-name"><%= User.find_by(id: comment.author_id).name %>: </p>
    <p class="ml-2"> <%= comment.text %> </p>
  </div>
<% end %>
</div>
<% end %>

