<div class="all-post">
  <div class="post-header">
    <div class="post-info">
      <p>Post: #<%= @post.id %></p>
      <p>By: <%= @user.name %></p>
    </div>
    <div class="comments-likes">
      <p>comments: <%= !@post.commentsCounter ? 0 : @post.commentsCounter %></p>
      <p>Likes: <%= !@post.likesCounter ? 0 : @post.likesCounter %></p>
    </div>
  </div>
  <div class="post-text">
    <p><%= @post.text %></p>
  </div>
  <div>
  <div class="likes">
  <i class="far fa-thumbs-up"></i><%= button_to "Like", like_path(@user, @post), method: "put", class: 'btn btn-secondary'%>
  </div>
  <br>
  <div class="delete">
    <% if can? :destroy , @post %>
     <%= link_to 'Destroy', user_post_path(@user, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>
    </div>
  </div>
</div>
<div class="create-comment">
<%= render 'comments/comment' %>
</div>
<div class="comments">
<% @comments.each do |comment| %>
  <div class="comment">
    <p class="user-name"><%= User.find_by(id: comment.author_id).name %>: </p>
    <p class="ml-2"> <%= comment.text %> </p>
    <div>
    <% if can? :destroy, comment %>
        <%= button_to "Delete", user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
        <% end %>
    </div>
  </div>
<% end %>
</div>
