
<div class="all-post">
  <div class="post-header">
    <div class="post-info">
      <p>Post: #<%= @post.id %></p>
      <p>By: <%= @post.author_id %></p>
    </div>
    <div class="comments-likes">
      <p>comments: <%  %></p>
      <p>Likes: <% %></p>
    </div>
  </div>
  <div class="post-text">
    <p><%= @post.Text %></p>
  </div>
</div>
<div class="comments">
<% @comments.each do |comment| %>
  <div class="comment">
    <p class="user-name"><%= User.find_by(id: comment.Author_id).Name %>: </p>
    <p class="ml-2"> <%= comment.Text %> </p>
  </div>
<% end %>
</div>
